body {
    margin: 0;
    background-color: rgb(188 197 206);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}


header {
    background-image: url(https://i.pinimg.com/originals/e3/e0/58/e3e058dd534af8dd748a496498dc7bc2.gif);
    background-size: 1280px 720px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

header h1 {
    color: whitesmoke;
}

h1, h2 {
    font-family: 'Syne Mono', monospace;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
    border: 10px lightblue; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main img {
    width:100%;
}

h2 {
    color:rgb(48, 48, 48);
    margin-bottom: -10px;
    margin-top: 10px;
}

a {
    color: rgb(48, 48, 48);
    text-decoration: none;
}

a:hover {
    color: rgb(107, 107, 107);
    text-decoration: underline;
}

.caption {
    text-align: center;
    margin-bottom: -10px;
    margin-top: 10px;
}

footer {
    background-color:rgb(48, 48, 48);
    text-align: center;
    color: whitesmoke;
    padding: 50px;
    box-shadow: 0 -3px 10px 3px rgb(48, 48, 48);
}

.about {
    margin-top: 10px;
}